@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d6;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c6;
}

.dark ::-webkit-scrollbar-thumb {
  background: #48484a;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #636366;
}

.dark {
  color-scheme: dark;
}

/* Webkit (Chrome, Safari, Edge) */
.purple-range::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #ffff, #ffff); 
  border: 1px solid rgb(202, 202, 202);
}

.purple-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: black; 
  cursor: pointer;
  margin-top: -6px; 
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

/* Firefox */
.purple-range::-moz-range-track {
  height: 8px;
  background: linear-gradient(to right, #7c3aed, #a78bfa);
}

.purple-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #7c3aed;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(124, 58, 237, 0.7);
}
